<% _.each(projects, function(project){ %>
  <ul class="index-list dontsplit">
    <li><a href="#">(<%= project.idx %>)</a></li>
    <% _.each(project.project_artists, function(artist) { %>
      <li>
        <a href="<%= make_url(artist.url) %>">
          <% if (WY.constants.locale == "ko") { %>
            <span lang="ko"><%= artist.full_name_ko %></span>
          <% } else { %>
            <span lang="en"><%= artist.full_name_en %></span>
          <% } %>
        </a>
      </li>
    <% }); %>
    <li class="removeiflast">&nbsp;</li>
  </ul>
<% }); %>
