<% _.each(projects, function(project){ %>
  <ul class="index-list dontsplit">
    <li><a href="#"><%= project.idx %></a></li>
    <% _.each(project.project_artists, function(artist) { %>
      <li>
        <a href="<%= make_url(artist.url) %>">
          <%= artist["full_name_" + WY.constants.locale] %>
        </a>
      </li>
    <% }); %>
    <li class="removeiflast">&nbsp;</li>
  </ul>
<% }); %>
