<ul class="index-list">
  <% _.each(projects, function (project) { %>
    <li>
      <a href="#">
        (<%= project.idx %>) 
        <%= project["project_name_" + WY.constants.locale] %>
      </a>
    </li>
  <% }); %>
</ul>