body {
  font-family: 'FoundersGroteskTextWeb', 'NotoSansCJKkr-Regular-2350', arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 19px;
  line-height: 1.3em;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:lang(ko) {
  font-size: 0.88em;
  letter-spacing: -0.01em;
}

.en-within-ko {
  font-size: 1.13em;
  letter-spacing: 0em;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  border-bottom: 1px solid;
}

a.no-underline:hover {
  border-bottom: none;
  opacity: .5;
  cursor: pointer;
}

/* ---------------------------------------------- */
/* list */
/* ---------------------------------------------- */
#index {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  visibility: hidden;
}

#section-header h2 {
  width: 50%;
  text-align: center;
  margin: 15px auto 0 auto;
}

#index-left {
  position: absolute;
  top: 15px;
  left: 30px;
}

#index-right {
  position: absolute;
  top: 15px;
  right: 30px;
}

#section-header {
  padding: 0 0 0.5em 0;
}

#section-cities, #section-participants, #section-projects {
  margin: 0 30px;
  padding: 0.5em 0;
  border-top: 1px solid;
}

.index-list li {
  margin-left: 1em;
  text-indent: -1em;
  padding-right: 1em;
  list-style-type: none;
}

/* ---------------------------------------------- */
/* content */
/* ---------------------------------------------- */
#content-outer {
  position: absolute;
  width: 100%;
  top: -10px;
  visibility: hidden;
}

#content {
  color: #000;
  padding: 30px;
  border-top: 1px solid;
}
#content a {
  color: #000;
}

#artwork {
  float: left;
  width: 750px;
}

.cols {
  float: left;
  margin: 0 30px 0 0;
}

.single {
  width: 220px;
}

.single-wider {
  width: 345px;
}

.double {
  width: 470px;
}

.triple {
  width: 720px;
}

.quadruple {
  width: 970px;
}

.hr {
  width: 970px;
  margin: 2em 0 2em 250px;
}

.participant {
  text-transform: uppercase;
}

.left-nav {
  margin-right: 2em;
}

h3 {
  padding-right: 4em;
}

.project-participants h3 {
  margin-bottom: 1em;
}

p.description {
  margin: 1em 0;
  padding-right: 4em;
}

p.bio {
  margin-left: 4em;
  font-size: 16px;
  line-height: 1.3em;
}

.artwork-photo {
  margin: 2em 0;
  border: 1px solid;
}
.artwork-photo:hover {
  border: 1px solid #000;
}
.artwork-photo img {
  display: block;
  opacity: 0;
  min-height: 420px;
}
.artwork-photo img:hover {
  opacity: 1;
}

.project-photo {
  margin: 1em 0;
  border: 1px solid;
}
.project-photo:hover {
  border: 1px solid #000;
}
.project-photo img {
  display: block;
  opacity: 0;
  min-height: 420px;
}
.project-photo img:hover {
  opacity: 1;
}

.notice {
  font-size: 16px;
  line-height: 1.3em;
  margin-top: 4em;
  border: 1px solid;
  padding: 15px 20px 20px 20px;
}
.notice h2, .notice h3 {
  display: inline;
  border-bottom: 1px solid;
  padding-right: 0;
}
.notice p {
  padding-right: 0;
}
.notice .btn {
  display: inline-block;
  border: 1px solid;
  padding: 0.25em 0.7em;
}
.notice .btn:hover {
  background-color: #000;
  color: #fff;
}

.credit {
  font-size: 16px;
  line-height: 1.3em;
}
.credit h4 {
  display: inline-block;
  margin: 0 0 1em 0;
}
.credit h4 .underline {
  border-bottom: 1px solid;
}
.credit ul {
  margin-bottom: 2em;
}
.credit ul li {
  margin-bottom: 1em;
}

.logos img.ct {
  width: 80px;
  height: auto;
  position: relative;
  top: 5em;
  left: 100px;
}
.logos img.tj {
  width: 80px;
  height: auto;
  position: relative;
  left: 100px;
}

.index-list h2 {
  text-transform: uppercase;
  margin-bottom: 2em;
}

/* ---------------------------------------------- */
/* map area */
/* ---------------------------------------------- */
#map-expander {
  position: fixed;
  width: 100%;
  height: 50%;
  display: none;
}
#map-expander:hover {
  border-bottom: none;
}

.leaflet-popup-content-wrapper {
  cursor: pointer;
}

.project_icon {
  background-color: white;
  border-radius: 40px;
  border: 1px solid black !important;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding-top: 8px;
  font-family: 'FoundersGroteskTextWeb', 'NotoSansCJKkr-Regular-2350', arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  transition: 0.2s background-color;
}
.project_icon:hover {
  background-color: #fff;
  color: #000;
}

.artwork_icon {
  background-color: white;
  border-radius: 40px;
  border: 1px solid black !important;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-family: 'FoundersGroteskTextWeb', 'NotoSansCJKkr-Regular-2350', arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  transition: 0.2s background-color;
}
.artwork_icon:hover {
  border: 2px solid black !important;
}

.venue_icon {
  background-color: white;
  border-radius: 20px;
  border: 1px solid black !important;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-family: 'FoundersGroteskTextWeb', 'NotoSansCJKkr-Regular-2350', arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  transition: 0.2s background-color;
}
.venue_icon:hover {
  background-color: #000;
}

.artist_icon {
  background-color: white;
  border-radius: 20px;
  border: 1px solid black !important;
  background-color: #000;
  color: #000;
  text-align: center;
  font-family: 'FoundersGroteskTextWeb', 'NotoSansCJKkr-Regular-2350', arial, sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility;
  transition: 0.2s background-color;
}
.artist_icon:hover {
  background-color: #fff;
}

.popup-project .leaflet-popup-content-wrapper {
  background: #000;
  color: #fff;
}
.popup-project .leaflet-popup-content-wrapper:hover {
  background: #fff;
  color: #000;
}

.leaflet-popup-content-wrapper a {
  color: black;
}
.leaflet-popup-content-wrapper:hover a {
  color: white;
}

.link {
  stroke: #AAA;
  stroke-opacity: .3;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

#map-outer {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.map-down {
  border-top: 1px solid;
}

#map-container {
  width: 100%;
  height: 0px;
}

#lang-control, #menu-control {
  position: absolute;
  top: 100px;
  left: 25px;
  border: 2px solid;
  border-radius: 2px;
  background: #fff;
}
#lang-control#menu-control, #menu-control#menu-control {
  top: 25px;
}
#lang-control a, #menu-control a {
  display: block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 16px;
}
#lang-control a:hover, #menu-control a:hover {
  border-bottom: none;
  text-decoration: none;
  background: #000;
  color: #fff;
}
#lang-control a.btn-en, #menu-control a.btn-en {
  border-top: 1px solid;
}
#lang-control a.btn-home svg, #menu-control a.btn-home svg {
  margin-top: 3px;
  width: 20px;
  height: auto;
}
#lang-control a.btn-menu, #menu-control a.btn-menu {
  border-top: 1px solid;
}
#lang-control a.btn-menu svg, #menu-control a.btn-menu svg {
  margin-top: 3px;
  width: 20px;
  height: auto;
}

.map-overlays.btn-logo {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}
.map-overlays.btn-logo h1 {
  margin: 0 auto -10px auto;
  padding: 10px 0;
  text-align: center;
  text-shadow: -1px -1px 0px #fff,   1px -1px 0px #fff, -1px  1px 0px #fff, 1px  1px 0px #fff;
  line-height: 1em;
  border-radius: 2px;
}
.map-overlays.btn-logo:hover {
  opacity: 0.5;
  border: none;
}
.map-overlays.btn-logo img.title-ko {
  width: 700px;
  height: auto;
}
.map-overlays.btn-logo img.title-en {
  width: 700px;
  height: auto;
}
.map-overlays.btn-ct {
  position: absolute;
  width: 60px;
  height: auto;
  left: 30px;
  bottom: 30px;
}
.map-overlays.btn-ct:hover {
  opacity: 0.5;
  border: none;
}
.map-overlays.btn-tj {
  width: 50px;
  height: auto;
  position: absolute;
  right: 30px;
  bottom: 30px;
}
.map-overlays.btn-tj:hover {
  opacity: 0.5;
  border: none;
}

/*# sourceMappingURL=style.css.map */
