/*
Error: Invalid CSS after "...     color:#fff": expected "{", was ";"
        on line 904 of stylesheets/src/style.scss

899: <<<<<<< HEAD
900:         a {
901: =======
902:         a{
903: >>>>>>> 594f8ce4bd3eb980a0f10657f05a3134d07a6c9c
904:           color:#fff;
905:         }
906:         // text-shadow:
907:         //  -1px -1px 0px rgba(255,255,255,.5),  
908:         //   1px -1px 0px rgba(255,255,255,.5),
909:         //  -1px  1px 0px rgba(255,255,255,.5),

Backtrace:
stylesheets/src/style.scss:904
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1162:in `expected'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1098:in `expected'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:1093:in `tok!'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:638:in `block'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:658:in `block_child'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:639:in `block'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:632:in `ruleset'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:657:in `block_child'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/scss/parser.rb:42:in `parse'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:403:in `_to_tree'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:410:in `run'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/exec/base.rb:52:in `parse'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/lib/sass/exec/base.rb:19:in `parse!'
/Users/eroonkang/.rbenv/versions/2.2.0/lib/ruby/gems/2.2.0/gems/sass-3.4.16/bin/sass:13:in `<top (required)>'
/Users/eroonkang/.rbenv/versions/2.2.0/bin/sass:23:in `load'
/Users/eroonkang/.rbenv/versions/2.2.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...     color:#fff\": expected \"{\", was \";\"\A         on line 904 of stylesheets/src/style.scss\A \A 899: <<<<<<< HEAD\A 900:         a {\A 901: =======\A 902:         a{\A 903: >>>>>>> 594f8ce4bd3eb980a0f10657f05a3134d07a6c9c\A 904:           color:#fff;\A 905:         }\A 906:         // text-shadow:\A 907:         //  -1px -1px 0px rgba(255,255,255,.5),  \A 908:         //   1px -1px 0px rgba(255,255,255,.5),\A 909:         //  -1px  1px 0px rgba(255,255,255,.5),"; }
