$base_font_size       : 19px; // px;
$base_line_height     : 1.2em; // px
$background-color: #FFF;
$text_color: #000;


@mixin regular_type {
  font-family: 'FoundersGroteskTextWeb', 'NotoSansCJKkr-Regular-2350', arial, sans-serif;
  font-style:   normal;
}


body {
  @include regular_type;
  font-size: $base_font_size;
  line-height: $base_line_height;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:lang(ko){
  font-size: 0.88em;
  letter-spacing:-0.02em;
}

.en-within-ko{
  font-size: 1.13em;
  letter-spacing: 0em;
}

a {
  text-decoration: none;
  color: #000;
  position:relative;
}
a:hover {
  border-bottom: 1px solid;
}


/* ---------------------------------------------- */
/* list */
/* ---------------------------------------------- */

#index {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  visibility: hidden;
}
#section-header h2 {
  width:50%;
  text-align: center;
  margin: 15px auto 0 auto;
}
#index-left {
  position:absolute;
  top: 15px;
  left:30px;
}
#index-right {
  position:absolute;
  top: 15px;
  right:30px;
}
#section-header {
  padding: 0 0 0.5em 0;
}
#section-cities, #section-participants, #section-projects {
  margin: 0 30px;
  padding: 0.5em 0;
  border-top:1px solid;
}

.index-list li{
  margin-left:1em;
  text-indent: -1em;
  padding-right:1em;  
  list-style-type: none;
  // font-size:20px;
}


/* ---------------------------------------------- */
/* content */
/* ---------------------------------------------- */
#content {
  // background-color: #000;
  color:#000;
  padding:30px;
  // display:none;
  border-top:1px solid;
  a {
    color:#000; 
  }
}
#artwork {
  float:left;
  width:750px; //threecols
}
.cols {
  float:left;
  margin: 0 30px 0 0;
}
.single {
  width:220px;
}
.double {
  width:470px;
}
.triple {
  width:720px;
}
.participant {
  text-transform: uppercase;
}
p.description {
  margin:1em 0;
}
.artwork-photo {
  margin:2em 0;
  border:1px solid;
}
.artwork-photo:hover {
  margin:2em 0;
  border:1px solid #000;
}
.artwork-photo img {
  display: block;
  opacity: 0;
}
.artwork-photo img:hover {
  opacity: 1;
}


/* ---------------------------------------------- */
/* map area */
/* ---------------------------------------------- */


.leaflet-popup-content-wrapper  {
  a {
    color:black;
  }

  &:hover {
    a {
      color:white;
    }
  }
}


.link {
  stroke: #AAA;
  stroke-opacity: .3;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

#map-outer {
  position:absolute;
  width:100%;
  top:0;
  left:0;
}
.map-down {
  border-top:1px solid;
}

#map-container {
  width:100%;
  height:700px;
}

#lang-control {
  position:absolute;
  top:100px;
  left:25px;
  border: 2px solid;
  border-radius: 2px;
  background: #fff;

  a {
    display:block;
    width:26px;
    height:26px;
    line-height: 26px;
    text-align: center;
    font-size: 16px;
    &:hover {
      border-bottom: none;
      text-decoration: none;
      background: #000;
      color:#fff;
    }
    &.btn-en {
      border-top: 1px solid;      
    }
    &.btn-ko {
      border-top: 1px solid;
    }
  }
}

#map-overlays {
  position:absolute;
  width:100%;
  bottom:0px;

  h1 {
    // width:720px;
    margin:0 auto;
    padding: 30px 0 30px 0;
    text-align: center;
    text-shadow:
     -1px -1px 0px #fff,  
      1px -1px 0px #fff,
     -1px  1px 0px #fff,
      1px  1px 0px #fff;
      line-height: 1em;
    border-radius: 2px;

    &:hover {
      opacity: 0.5;
    } 
  }

  img.left{
    position:absolute;
    left: 30px;
    bottom:30px;
  }
  img.right{
    position:absolute;
    right:30px;
    bottom:30px;
  }
}