$base_font_size       : 19px; // px;
$base_line_height     : 1.3em; // px
$background-color: #FFF;
$text_color: #000;


@mixin regular_type {
  font-family: 'FoundersGroteskTextWeb', 'NotoSansCJKkr-Regular-2350', arial, sans-serif;
  font-style:   normal;
  text-rendering: optimizeLegibility;
}

@mixin small_type {
  font-size: 16px;
  line-height: 1.3em;
}


body {
  @include regular_type;
  font-size: $base_font_size;
  line-height: $base_line_height;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:lang(ko){
  font-size: 0.88em;
  letter-spacing:-0.0125em;
}

.en-within-ko{
  font-size: 1.13em;
  letter-spacing: 0em;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  border-bottom: 1px solid;
}
a.no-underline:hover {
    border-bottom: none;
    opacity:.5;
    cursor: pointer;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* ---------------------------------------------- */
/* list */
/* ---------------------------------------------- */

#index {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  visibility: hidden;
}
#section-header h2 {
  width:50%;
  text-align: center;
  margin: 15px auto 0 auto;
}
#index-left {
  position:absolute;
  top: 15px;
  left:30px;
}
#index-right {
  position:absolute;
  top: 15px;
  right:30px;
}
#section-header {
  padding: 0 0 0.5em 0;
}
#section-cities, #section-participants, #section-projects {
  margin: 0 30px;
  padding: 0.5em 0;
  border-top:1px solid;
}

.index-list li{
  margin-left:1em;
  text-indent: -1em;
  padding-right:1em;  
  list-style-type: none;
  // font-size:20px;
}


/* ---------------------------------------------- */
/* content */
/* ---------------------------------------------- */
#content-outer{
  position:absolute;
  width:100%;
  top:-10px;
  visibility: hidden;
  border-top:1px solid;
}
#content {
  color:#000;
  padding:30px;
  a {
    color:#000; 
  }
  // width:1000px;
  // margin: 0 auto;
}
.artwork {
  // float:left;
  margin-left: 240px;
  // width:750px; //threecols
}

#intro .artwork {
  margin-bottom:3em;
}
.cols {
  float:left;
  margin: 0 30px 0 0;
}
.single {
  width:210px;
}
.single-wider {
  width:345px;
}
.double {
  width:450px;
}
.triple {
  width:690px;
}
.quadruple {
  width:930px;
}
.hr {
  width:930px;
  margin: 2em 0 2em 250px;
  // border-bottom:1px solid;
}
.participant {
  text-transform: uppercase;
}
.left-nav {
  // margin-right:2em;
  position:absolute;
  .index-list {
    li {
      padding-right: 3em;
    }
    h2 {
      text-transform: uppercase;
      margin-bottom: 1em;
    }
  }
}
h3 {
  padding-right:4em;
}
.project-participants h3{
  margin-bottom:1em;
}
p.description {
  margin:1em 0;
  padding-right:4em;
  // line-height: 1.4em;
}
p.bio {
  margin:1em 0 1em 0;
  @include small_type;
}
.artwork-photo, .project-photo {
  margin-top:2em;
  figure {
    display: inline-block;
    border:1px solid #000;
    &:hover {
      border:1px solid #fff;
    }

    img {
      width:620px;
      display: block;
      opacity: 0;
      min-height: 420px;  
      &:hover{
        opacity: 1;
      }
    }
  }
}
.project-photo {
  margin-top:0.5em;
  margin-bottom:2em;
}

.notice {
  @include small_type;
  margin-top:4em;
  border:1px solid;
  padding: 15px 20px 20px 20px;
  h2, h3 {
    display: inline;
    border-bottom: 1px solid;
    padding-right: 0;
  }
  p {
    padding-right: 0;
  }
  .btn {
    display: inline-block;
    border:1px solid;
    padding: 0.25em 0.7em;
    &:hover {
      background-color: #000;
      color:#fff;
    }
  }
}
.credit {
  @include small_type;
  h4 {
    display: inline-block;
    margin: 0 0 1em 0;
    .underline {
      border-bottom: 1px solid;
    }
  }
  ul {
    margin-bottom:2em;
    li {
      margin-bottom:1em;
    }
  }
}
.logos {
  img.ct {
    width:80px;
    height:auto;
    position:relative;
    top:5em;
    left:100px;
  }
  img.tj {
    width:80px;
    height:auto;
    position:relative;
    // top:5em;
    left:100px;
  }
}

/* ---------------------------------------------- */
/* map area */
/* ---------------------------------------------- */

#map-expander {
  position:fixed;
  width:100%;
  height:50%;

  display: none;
  &:hover {
    border-bottom: none;
  }
}


.leaflet-popup-content-wrapper {
  cursor:pointer;
}

.project_icon {
  background-color: white;
  border-radius: 40px;
  border:2px solid black !important;
  background-color: #000;
  color:#fff;
  text-align:center;
  padding-top:8px;
  @include regular_type;
  transition: 0.2s background-color;
  &:hover {
    background-color:#fff;
    color:#000;
  }
}

.artwork_icon {
  background-color: white;
  border-radius: 40px;
  border:1px solid black !important;
  background-color: #fff;
  color:#000;
  text-align:center;
  @include regular_type;
  transition: 0.2s background-color;
  &:hover {
    border:2px solid black !important;
  }
}

.venue_icon {
  background-color: white;
  border-radius: 20px;
  border:1px solid black !important;
  background-color: #fff;
  color:#000;
  text-align:center;
  @include regular_type;
  transition: 0.2s background-color;
  &:hover {
    background-color: #000;
  }
}

.artist_icon {
  background-color: white;
  border-radius: 20px;
  border:1px solid black !important;
  background-color: #000;
  color:#000;
  text-align:center;
  @include regular_type;
  transition: 0.2s background-color;
  &:hover {
    background-color: #fff;
  }
}

.popup-project {
  .leaflet-popup-content-wrapper{
    background: #000;
    color: #fff;
    &:hover {
      // background: #fff;
      // color: #000;
      text-decoration: underline;
    }
  }
  .leaflet-popup-tip {
    background: #000;
  }
}

.leaflet-popup-content-wrapper  {
  a {
    color:black;
  }

  &:hover {
    a {
      color:white;
    }
  }
}


.link {
  stroke: #AAA;
  stroke-opacity: .3;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

#map-outer {
  position:absolute;
  width:100%;
  top:0;
  left:0;
}
.map-down {
  border-top:1px solid;
}

#map-container {
  width:100%;
  height:0px;
}

#lang-control, #menu-control {
  position:absolute;
  top:100px;
  left:25px;
  border: 2px solid;
  border-radius: 2px;
  background: #fff;

  &#menu-control {
    top:25px;
  }

  a {
    display:block;
    width:26px;
    height:26px;
    line-height: 26px;
    text-align: center;
    font-size: 16px;
    &:hover {
      border-bottom: none;
      text-decoration: none;
      background: #000;
      color:#fff;
    }
    &.btn-en {
      border-top: 1px solid;      
    }
    &.btn-ko {
      // border-top: 1px solid;
    }
    &.btn-home {
      svg {
        margin-top: 3px;
        width:20px;
        height:auto;
      }
    }
    &.btn-menu {
      border-top: 1px solid;      
      svg {
        margin-top: 3px;
        width:20px;
        height:auto;
      }
    }
  }
}

.map-overlays {

  &.btn-logo  {
    position:absolute;
    left:50%;
    bottom:20px;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);

    h1 {
      // width:720px;
      margin:0 auto -10px auto;
      padding:10px 0;
      text-align: center;
      text-shadow:
       -1px -1px 0px #fff,  
        1px -1px 0px #fff,
       -1px  1px 0px #fff,
        1px  1px 0px #fff;
        line-height: 1em;
      border-radius: 2px;
    }    
    &:hover {
      opacity: 0.5;
      border:none;
    } 
    img.title-ko {
      width:700px;
      height:auto;
    }
    img.title-en {
      width:700px;
      height:auto;
    }
  }


  &.btn-ct {
    position:absolute;
    width:60px;
    height:auto;
    left: 30px;
    bottom:30px;
    &:hover {
      opacity: 0.5;
      border:none;
    } 
  }

  &.btn-tj {
    width:50px;
    height:auto;
    position:absolute;
    right:30px;
    bottom:30px;
    &:hover {
      opacity: 0.5;
      border:none;
    } 
  }
}